# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
libs
gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
LICENSE.txt
gradlew
gradle.properties
gradlew.bat
CREDITS.txt
changelog.txt
README.md
build.gradle
.vscode/settings.json
.gitignore
.gitattributes
.gitignore
